In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_data.csv')

In [3]:
col1 = 'value_column'
col2 = 'text_column_1'
col3 = 'text_column_2'

In [58]:
df.head()

   value_column         text_column_1               text_column_2
0      0.111122  "this is a sentence"                         NaN
1      0.029960                   NaN  "this is another sentence"
2      0.457547                   NaN  "this is another sentence"
3      0.538535  "this is a sentence"  "this is another sentence"
4      0.590310                   NaN  "this is another sentence"

In [65]:
truth_series_1 = df['value_column'] > 0.02
truth_series_2 = df[col2] == '"this is a sentence"'

In [38]:
def generateTruthfulPairs(arg_list: list, df: pd.DataFrame) -> list:
    truthful_list = []
    for tuplet in arg_list:
        argument_string = constructStringArgument(tuplet)
        truthful_list.append(df.eval(argument_string))
        
    return truthful_list

In [39]:
def constructStringArgument(arg_list: list):
    return arg_list[0] + arg_list[1] + arg_list[2]

In [42]:
argument1 = ['value_column','<','0.2']
argument2 = ['value_column', '>', '0.2']
arg_list = [argument1,argument2]

In [43]:
generateTruthfulPairs(arg_list, df)

[0      True
 1      True
 2     False
 3     False
 4     False
 5     False
 6      True
 7     False
 8     False
 9      True
 10    False
 11    False
 12     True
 13     True
 14    False
 15    False
 16    False
 17    False
 18    False
 19    False
 20    False
 21    False
 22    False
 23     True
 24    False
 25     True
 26     True
 27    False
 28     True
 29    False
 30    False
 31     True
 dtype: bool, 0     False
 1     False
 2      True
 3      True
 4      True
 5      True
 6     False
 7      True
 8      True
 9     False
 10     True
 11     True
 12    False
 13    False
 14     True
 15     True
 16     True
 17     True
 18     True
 19     True
 20     True
 21     True
 22     True
 23    False
 24     True
 25    False
 26    False
 27     True
 28    False
 29     True
 30     True
 31    False
 dtype: bool]